.explore-entire-area {
  display: flex;
  flex-direction: column;
}
/* .extras {
  display: flex;
  flex-direction: row;
} */

.each-full-post {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 25px 50px;
  margin: 10px auto;
  max-width: 85%;
  display: grid;
  grid-template-areas:
    "P P D D "
    "P P C C"
    "BL BL N N";
}

.picture {
  grid-area: P;
  width: 800px;
  height: 350px;
  object-fit: cover;
}
.button-container {
  grid-area: BL;
}

.post-details {
  grid-area: D;
  padding: 10px 10px;
}

.comments-section {
  grid-area: C;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 10px 10px;
  overflow-y: scroll;
  height: 176px;
  width: 350px;
}

.likes-area {
  grid-area: BL;
  min-width: 150px;
}

.delete-button,
.edit-button {
  grid-area: BL;
  margin: 0 auto;
  width: 100px;
  height: 25px;
}

.new-comment {
  grid-area: N;
}

.progress {
  margin: 30% auto;
}
