.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #b9d6f2;
}

.title {
  display: flex;
  padding: 10px 10px;
}
.nav a {
  text-decoration: none;
}
.logged-in-links,
.logged-out-links {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 10px;
  top: 30px;
}

.logged-in-links a,
.logged-out-links a {
  text-decoration: none;
  padding: 10px 10px;
}
.logged-out-explore {
  padding: 20px 0px;
}

.button {
  padding: 10px;
}
