.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #006494;
}

.title {
  display: flex;
  padding: 10px 10px;
  font-family: "Acme", sans-serif;
  color: black;
}
.nav a {
  text-decoration: none;
}
.logged-in-links,
.logged-out-links {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 10px;
  top: 30px;
}

.logged-in-links a,
.logged-out-links a {
  text-decoration: none;
  padding: 10px 10px;
}
.logged-out-explore {
  padding: 20px 0px;
}

.button {
  padding: 2px 5px;
}

.logout-button {
  margin-top: 10px;
  height: 23px;
}
