.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #006494;
}
.hamburger-menu {
  z-index: 999;
  display: none;
}

.title {
  font-size: 45pt;
  display: flex;
  padding: 0px 10px;
  font-family: "Acme", sans-serif;
  color: white;
}
.nav a {
  text-decoration: none;
}
.logged-in-links,
.logged-out-links {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 10px;
  top: 30px;
}

.logged-in-links a,
.logged-out-links a {
  text-decoration: none;
  padding: 10px 10px;
}
.logged-out-explore {
  padding: 20px 0px;
}

.button {
  padding: 0px 0px;
}

.logout-button {
  top: 0;
  height: 37px;
}
@media only screen and (max-width: 1400px) {
  .logged-in-links,
  .logged-out-links {
    display: none;
  }
  .hamburger-menu {
    display: block;
    z-index: 999;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 30px;
    top: 70px;
  }
}

@media only screen and (max-width: 600px) {
  .logged-in-links,
  .logged-out-links {
    display: none;
  }
  .hamburger-menu {
    display: block;
    z-index: 999;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 30px;
    top: 30px;
  }
  .title {
    font-size: 20pt;
    color: white;
  }
}
